/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2020, 03:34:41
    Author     : Thiago
*/

@font-face{
font-family: 'sketch';
    src: url('util/fonts/sketch3D.woff') format('woff'),
        url('util/fonts/sketch3D.ttf') format('truetype');
}

.inicio {
    background-image: url(util/home/2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-size: large;
    text-shadow: 1px 1px 2px #000;
    padding-top: 150px;
    padding-bottom: 150px;
}

h1 {
    
    font-family: 'Black Ops One';
    text-shadow: -3px 3px 1px #f58220;
}

.sobre {
    background-color: #f3f3f3;
    padding-top: 150px;
    padding-bottom: 150px;
    font-size: large;
}

.servicos {
    background-image: url(util/home/1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
}

.servicos h1 {
    color: #fff;
}

.contato {
    background-image: linear-gradient(#aaaaaa, #999999 ,#888888 ,#777777 ,#666666 ,#555555 ,#444444 ,#333333 ,#333333 ,#333333 ,#333333 ,#333333 ,#333333 ,#333333 ,#333333 ,#333333 ,#333333);
    padding-top: 80px;
    padding-bottom: 50px;
    color: #fff;
    text-shadow: 1px 1px #f58220;
    font-size: large;
}


.contato a {
    color: #fff;
}

.nocolor {
    padding: 4%;
}

.floating-text {
    padding: 4%;
    border-radius: 20px;
    background: rgba(245, 130, 32, 0.45);
    background: rgba(105, 105, 105, 0.91);
}

p {
    font-size: larger;
}

.card {
    margin-bottom: 1rem;
    font-size: small;
    width: 17rem;
}